version: '2.2'

services:

  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - DEFAULT_REGION=ap-south-1
      - SERVICES=sqs
      - DEBUG=${DEBUG- }
      - DATA_DIR=${DATA_DIR- }
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
  
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: events_db
    ports:
      - "5432:5432"

  etl:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - localstack
      - postgres
    environment:
      AWS_REGION: ap-south-1
      AWS_ENDPOINT_URL: http://localstack:4566
      DB_HOST: postgres
    restart: "no"
